In [122]:
# Import the pandas module and alias it as 'pd'
import pandas as pd

 # List Example

In [123]:
# Create a list
list_of_numbers=[15,21,35]
list_of_numbers

[15, 21, 35]

 ## Type Checking

In [124]:
# Check type of list_of_numbers
type(list_of_numbers)

list

In [125]:
# Check type of an element in list_of_numbers
type(list_of_numbers[0])

int

In [126]:
# Create a Series from the list
series = pd.Series(list_of_numbers)
series

0    15
1    21
2    35
dtype: int64

In [127]:
# Check type of series_of_numbers
type(series)

pandas.core.series.Series

In [128]:
# Print the Series
print(series)

0    15
1    21
2    35
dtype: int64

 # Series Attributes

In [129]:
# Return the data type of the elements in the series
series.dtypes

dtype('int64')

In [130]:
# Return the element at index 0 using iloc
series.iloc[0]

15

In [131]:
# Return the element at index 0 using list syntax
series[0]

15

 # Series Methods

In [132]:
# Get the count of the number of times a value occurs in a Series
series.value_counts()

21    1
35    1
15    1
dtype: int64

In [133]:
# Get the unique values of a Series
series.unique()

array([15, 21, 35])

In [134]:
# A function to triple any value
def triple_value(some_value):
    return some_value * 3
    
# Apply triple value to series_of_numbers
series.apply(triple_value)

0     45
1     63
2    105
dtype: int64

 # Dictionary Example

In [135]:
# A dictionary of stock values
stock_values = {"COIN": 65, "MSFT": "160", "TWTR": 32.3}

In [136]:
# Create series object from dictionary
stock_series = pd.Series(stock_values)

print(stock_series)

COIN      65
MSFT     160
TWTR    32.3
dtype: object

 ## Datatype conversion

In [137]:
# Return the data type of the elements in the series
stock_series.dtypes

dtype('O')

In [138]:
# Apply float to each item in the series
stock_series = stock_series.apply(float)

In [139]:
# Return the data type of the elements in the series
stock_series.dtypes
print(stock_series)

COIN     65.0
MSFT    160.0
TWTR     32.3
dtype: float64

 ## Different Methods to Access Values

In [140]:
# Access value at index location 0 using iloc
print(stock_series.iloc[0])
# Access value at index location 0 using list syntax
print(stock_series[0])
# Access value at index MSFT
print(stock_series["MSFT"])

65.0
65.0
160.0

 ## Appending Data to Series

In [141]:
# Create a new stock series for google stock. The dictionary is passed in directly.
google_stock_series = pd.Series({"GOOGL": 1754.40})
google_stock_series

GOOGL    1754.4
dtype: float64

In [142]:
# Append the new data without reassignment
stock_series.append(google_stock_series)

COIN       65.0
MSFT      160.0
TWTR       32.3
GOOGL    1754.4
dtype: float64

In [144]:
stock_series

COIN     65.0
MSFT    160.0
TWTR     32.3
dtype: float64

In [145]:
# Append the new data with reassignment
stock_series = stock_series.append(google_stock_series)
print(stock_series)

COIN       65.0
MSFT      160.0
TWTR       32.3
GOOGL    1754.4
dtype: float64

 ## Removing Data from Series

In [146]:
# Drop MSFT in-place
stock_series.drop("MSFT", inplace = True)
print(stock_series)

COIN       65.0
TWTR       32.3
GOOGL    1754.4
dtype: float64

 ## Updating Series Data

In [147]:
# Update using list syntax
stock_series[1] = 35 # stock_series.iloc[1]=35
print(stock_series)

COIN       65.0
TWTR       35.0
GOOGL    1754.4
dtype: float64

In [151]:
# Update using named index label

stock_series["COIN"] = 67
stock_series

COIN       67.0
TWTR       35.0
GOOGL    1754.4
dtype: float64

 ## Iterating Over Series

In [153]:
# Print prices
for price in stock_series:
    print(price)
    print('-'*20)

67.0
--------------------
35.0
--------------------
1754.4
--------------------

In [ ]:
# Print symbol and price
for price in stock_series:
    print(price)
    print('-'*20)

In [154]:
for symbol, price in stock_series.items():
    print (f"{symbol} - {price}")

COIN - 67.0
TWTR - 35.0
GOOGL - 1754.4

In [158]:
some_iterable=stock_series.items() # [('AAPL', 75.09), ('TWTR', 32.3), ('GOOGL', 1754.4)]
for each_tuple in some_iterable: 
#     symbol=each_tuple[0]
#     price=each_tuple[1]
    print(f"{symbol} - {price}")

GOOGL - 1754.4
GOOGL - 1754.4
GOOGL - 1754.4